@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  text-align: center;
  letter-spacing: 5px;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
}
#settings {
  background: rgba(0, 0, 0, 0.9);
  height: 120vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-family: Amatic SC;
  z-index: 1000;
  transition: all 500ms;
}
#input {
  border: none;
  height: 40px;
  width: 40vw;
  font-size: 35px;
  font-family: "Amatic SC", cursive;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.5s;
  margin-bottom: 15px;
  letter-spacing: 3px;
}
#input:active,
#input:focus {
  border: 0 solid #000;
  background: rgba(0, 0, 0, 0.5);
  transition: all 250ms;
  outline: 0;
  border-radius: 5px;
}
#bg {
  background: linear-gradient(-45deg, #858585, #6e6e6e, #414141, #3b3b3b);
  background-size: cover;
  animation: gradient 60s ease infinite;
  position: absolute;
  height: 120vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1000;
}
#blackmodale {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 120vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
#widget {
  font-family: "Amatic SC", cursive;
  color: #fff;
  height: 100%;
  box-sizing: border-box;
  margin-top: 50px;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
#temp {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
}
.number {
  font-size: 50px;
}
#icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
#icone span {
  font-size: 30px;
  width: 70vw;
  color: #fff;
}
#symbole {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
#settings p {
  letter-spacing: 0px;
  font-size: 25px;
}
#lang {
  width: 70%;
  font-size: 30px;
  border: none;
}
#stats {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#date {
  font-size: 30px;
}
hr {
  background: rgba(255, 255, 255, 0.438);
  width: 70%;
  height: 3px;
}
.future {
  font-size: 10px;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
#input {
  color: #fff;
}
.icon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em;
  color: #d3d3d3;
}
.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: #d3d3d3;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em,
    0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff,
    2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after {
  background: #fff;
}
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:after,
.rays:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}
.lightning,
.rain,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: 0 0;
}
.rain:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50%/60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
    -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
    -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}
.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:after,
.bolt:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}
.flake:after,
.flake:before {
  content: "\2744";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
      -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
      -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
      -0.875em 1.125em 0 -0.125em #0cf,
      -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf,
      -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
      -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
      -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
      -1.375em -0.125em 0 #0cf;
  }
}
@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}
.futureNumber {
  font-size: 35px;
}
#boutonSetting {
  position: absolute;
  top: 0;
  left: 10px;
  color: #fff;
  font-size: 40px;
  animation: spin 30s linear infinite reverse;
  transition: all 150ms;
  z-index: 1001;
}
#boutonSetting:hover {
  font-size: 45px;
  cursor: pointer;
  transition: all 150ms;
}
.la-pen {
  font-size: 30px;
  position: absolute;
  animation: blink-animation 3s infinite;
}
@keyframes blink-animation {
  from {
    opacity: 100%;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@media screen and (min-width: 850px) {
  .future {
    font-size: 7px;
  }
  #icone span {
    font-size: 15px;
  }
  #date {
    font-size: 20px;
  }
  #settings {
    width: 30vw;
    background: rgba(0, 0, 0, 0.6);
  }
  #input {
    font-size: 45px;
  }
}

.fade-enter-active {
  opacity: 0;
  transition: all 0.3s ease;
}
.fade-leave-active {
  opacity: 100;
  transition: all 0.8s ease;
}
