body {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: #e2e2e2;
  font-family: montserrat;
  min-height: 100vh;
}
header {
  color: #c2b2b2;
  mix-blend-mode: luminosity;
}
.grid-container {
  display: grid;
  background-color: rgba(97, 179, 204, 0.7);
  padding: 15px;
  mix-blend-mode: luminosity;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr;
  gap: 24px 0;
  grid-template-areas: "bandeau" "inner-calendar";
  border: #d1d1d1 5px solid;
  border-radius: 10px;
}
.inner-calendar div {
  border: 1px rgba(255, 3, 3, 0.568) solid;
  padding: 5px;
}
.day {
  background-color: rgba(122, 199, 223, 0.95);
  color: #000;
  font-size: 14px;
  transition: background-color 0.2s;
}
.day:hover {
  background-color: #a0d1e0;
}
.bandeau {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0 0;
  grid-template-areas: ". arrow-left main-month arrow-right ." ". select-date select-date select-date . ";
  grid-area: bandeau;
}
.today {
  background: rgba(126, 23, 23, 0.7);
  text-shadow: rgba(255, 255, 255, 0.596) 0 0 5px;
}
.outMonth {
  color: rgba(255, 255, 255, 0.35);
}
.arrows {
  font-size: 30px;
  transition: text-shadow 0.2s;
}
.arrows:hover {
  text-shadow: #fff 0 0 5px;
}
.arrows a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.562);
}
.arrow-left {
  grid-area: arrow-left;
}
.arrow-right {
  grid-area: arrow-right;
}
.main-month {
  grid-area: main-month;
}
.select-date {
  grid-area: select-date;
}
.select-date select {
  mix-blend-mode: luminosity;
  background-color: #d8b0b0;
  font-size: large;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  transition: background-color 0.2s;
}
.select-date select:hover {
  background-color: #f0e7e7;
}
.select-date button {
  width: 100px;
  height: 20px;
  mix-blend-mode: luminosity;
  background-color: #d8b0b0;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.384) 1px 1px 5px;
  font-size: medium;
  margin-top: 5px;
  border-radius: 5px;
  transition: background-color 0.2s;
}
.select-date button:hover {
  background-color: #f0e7e7;
}
.inner-calendar {
  display: grid;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "lundi mardi mercredi jeudi vendredi samedi dimanche";
  grid-area: inner-calendar;
}
.day-number {
  transition: background-color 0.2s;
}
.day-number:hover {
  background-color: rgba(122, 199, 223, 0.95);
}
.lundi {
  grid-area: lundi;
}
.mardi {
  grid-area: mardi;
}
.mercredi {
  grid-area: mercredi;
}
.jeudi {
  grid-area: jeudi;
}
.vendredi {
  grid-area: vendredi;
}
.samedi {
  grid-area: samedi;
}
.dimanche {
  grid-area: dimanche;
}
